.navbar{
    position: sticky!important;
    top: 0;
    z-index: 10;
    font-size: 18px;
    background: rgb(247,255,0)!important;
    background: -moz-radial-gradient(circle, rgba(247,255,0,1) 25%, rgba(216,219,8,1) 52%, rgba(198,197,13,1) 68%, rgba(198,197,13,1) 81%)!important;
    background: -webkit-radial-gradient(circle, rgba(247,255,0,1) 25%, rgba(216,219,8,1) 52%, rgba(198,197,13,1) 68%, rgba(198,197,13,1) 81%)!important;
    background: radial-gradient(circle, rgba(247,255,0,1) 25%, rgba(216,219,8,1) 52%, rgba(198,197,13,1) 68%, rgba(198,197,13,1) 81%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7ff00",endColorstr="#c6c50d",GradientType=1);
}

.navbar-collapse {
    justify-content: space-between;
    margin-right: 1em;
}

.dropdown-menu {
    background: rgb(247,255,0)!important;
    background: -moz-radial-gradient(circle, rgba(247,255,0,1) 25%, rgba(216,219,8,1) 52%, rgba(198,197,13,1) 68%, rgba(198,197,13,1) 81%)!important;
    background: -webkit-radial-gradient(circle, rgba(247,255,0,1) 25%, rgba(216,219,8,1) 52%, rgba(198,197,13,1) 68%, rgba(198,197,13,1) 81%)!important;
    background: radial-gradient(circle, rgba(247,255,0,1) 25%, rgba(216,219,8,1) 52%, rgba(198,197,13,1) 68%, rgba(198,197,13,1) 81%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7ff00",endColorstr="#c6c50d",GradientType=1);
}

.nav-link, .navbar-brand {
    color: rgb(192, 0, 6)!important;
    font-weight: bold;
}

.navbar-brand {
    margin-left: 1em;
    padding: 0;
    font-size: 1.8em;
    position: relative;
    text-decoration: none;
    filter: drop-shadow(2px 2px 2px black);
}

.navbar-brand::before, .navbar-brand::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgb(0, 42, 255); /* Cambia il colore della sottolineatura se desiderato */
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform 3s linear;
    animation: underline 6s linear infinite; 
}

@keyframes underline {
    0%, 100% {
        transform: scaleX(0); 
    }
    50% {
        transform: scaleX(1);
    }
}

button {
    margin-left: 1em;
}

.nav-link {
    margin-left: 1.3rem;
}
.dropdown-item.active {
    color: rgb(82, 15, 15)!important;
    background-color: red!important;
}

.dropdown-item:hover:not(.dropdown-item.active) {
    background-color: blue!important;
    color: white!important;
}

.nav-link.active {
    color: rgb(125, 9, 9)!important;
    background-image: url('/public/assets/imgs/pikaUnderline.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% 20px;
    padding-bottom: 1rem;
    
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 0, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler {
    border-color: red;
}
