@keyframes rotateBall {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotateBall {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#pokeLoad {
  position: relative;
  top: 50%;
  left: 45%;
  transform: translateX(-50%) translateY(-50%);
}

.pokeball {
  width: 8px;
  height: 8px;
  transform-origin: 48px 48px;
  animation: rotateBall 1.5s infinite forwards;
  position: absolute;
  left: 50%;
  top: 15rem;
}

.pokeball {
  box-shadow:
    32px 0 0 black, 40px 0 0 black, 48px 0 0 black, 56px 0 0 black,
    16px 8px 0 black, 24px 8px 0 black, 32px 8px 0 red, 40px 8px 0 red, 48px 8px 0 red, 56px 8px 0 red, 64px 8px 0 black, 72px 8px 0 black,
    8px 16px 0 black, 16px 16px 0 red, 24px 16px 0 red, 32px 16px 0 red, 40px 16px 0 red, 48px 16px 0 red, 56px 16px 0 red, 64px 16px 0 red, 72px 16px 0 red, 80px 16px 0 black,
    8px 24px 0 black, 16px 24px 0 red, 24px 24px 0 red, 32px 24px 0 red, 40px 24px 0 red, 48px 24px 0 red, 56px 24px 0 red, 64px 24px 0 red, 72px 24px 0 red, 80px 24px 0 black,
    0px 32px 0 black, 8px 32px 0 red, 16px 32px 0 red, 24px 32px 0 red, 32px 32px 0 red, 40px 32px 0 red, 48px 32px 0 red, 56px 32px 0 red, 64px 32px 0 red, 72px 32px 0 red, 80px 32px 0 red, 88px 32px 0 black,
    0px 40px 0 black, 8px 40px 0 red, 16px 40px 0 red, 24px 40px 0 red, 32px 40px 0 red, 40px 40px 0 black, 48px 40px 0 black, 56px 40px 0 red, 64px 40px 0 red, 72px 40px 0 red, 80px 40px 0 red, 88px 40px 0 black,
    0px 48px 0 black, 8px 48px 0 black, 16px 48px 0 red, 24px 48px 0 red, 32px 48px 0 black, 40px 48px 0 white, 48px 48px 0 grey, 56px 48px 0 black, 64px 48px 0 red, 72px 48px 0 red, 80px 48px 0 black, 88px 48px 0 black,
    0px 56px 0 black, 8px 56px 0 white, 16px 56px 0 black, 24px 56px 0 black, 32px 56px 0 black, 40px 56px 0 grey, 48px 56px 0 grey, 56px 56px 0 black, 64px 56px 0 black, 72px 56px 0 black, 80px 56px 0 grey, 88px 56px 0 black,
    8px 64px 0 black, 16px 64px 0 white, 24px 64px 0 white, 32px 64px 0 white, 40px 64px 0 black, 48px 64px 0 black, 56px 64px 0 grey, 64px 64px 0 grey, 72px 64px 0 grey, 80px 64px 0 black,
    8px 72px 0 black, 16px 72px 0 grey, 24px 72px 0 white, 32px 72px 0 white, 40px 72px 0 white, 48px 72px 0 grey, 56px 72px 0 grey, 64px 72px 0 grey, 72px 72px 0 grey, 80px 72px 0 black,
    16px 80px 0 black, 24px 80px 0 black, 32px 80px 0 grey, 40px 80px 0 grey, 48px 80px 0 grey, 56px 80px 0 grey, 64px 80px 0 black, 72px 80px 0 black,
    32px 88px 0 black, 40px 88px 0 black, 48px 88px 0 black, 56px 88px 0 black;
}