*{
    box-sizing: border-box;
}

h1 {
    font-size: clamp(1rem, 85%, 3rem);
    background-color: #ffcd05;
    padding: 2rem;
    border-radius: 50px;
    margin: 0.1rem;
    &:hover{
        cursor: pointer;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card {
 width: 12rem;
 padding: 2rem;
 height: auto;
 margin: 1rem;
 background-color: #3465aff5;
 border: 10px ridge #ffcd05;
}

.card-header {
    text-transform: capitalize;
}

.card-img-top {
    filter: drop-shadow(10px 8px 10px rgba(0, 0, 0, 0.649));
    &:hover{
        transform: scale(3);
    }
}

.nav {
    display: flex;
   
}
